#stock-filter-form {
	width: 670px;
	position: relative;
	height: 40px;
}

#stock-filter-form fieldset {
	border: 0;
}

#stock-filter-form legend {
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: bold;
}

#stock-filter-form .absolute-position-wrapper {
	position: absolute;
	top: 10px;
}

#stock-filter-form .wrapper-from {
	left: 75px;
}

#stock-filter-form .wrapper-to {
	left: 250px;
}

#stock-filter-form .wrapper-filter {
	left: 435px;
	top: -3px;
}

#stock-filter-form .item {
	width: 100px;
}


#stock-filter-form .control {
	left: 55px;
}

#stock-filter-form label {
	width: 50px;
}

#daily-stock-details {
	padding: 0;
	margin: 0 0 0 40px;
	border: 1px solid #DCDFE3; 
	border-collapse: collapse;
}

#daily-stock-details caption {
	display: none;
}



#daily-stock-details th {
	text-transform: lowercase;
	width: 105px;
}

#daily-stock-details td {
	width: 105px;
}

#candlestick {
	width: 670px;
	height: 220px;
}

.y-axis-label, .x-axis-label {
	font-size: 11px;
	font-weight: normal;
	color: #645050;
}

.y-axis-label {
	text-align: right;
	color: #645050;
}

.x-axis-label {
	text-align: center;
	color: #645050;
}


