#candlestick {
	width: 670px;
	height: 220px;
}

#daily-stock-details {
	padding: 0;
	margin: 0 0 0 40px;
	border: 1px solid #DCDFE3; 
	border-collapse: collapse;
}

#daily-stock-details caption {
	display: none;
}

#daily-stock-details th {
	font-size: 12px;
	margin: 0;
	text-align: left;
	text-transform: lowercase;
	background-color: white;
	width: 95px;
	padding: 2px 5px;
	color: #645050;
	border: 1px solid #DCDFE3;
	
}

#daily-stock-details td {
	font-size: 12px;
	margin: 0;
	text-align: left;
	color: #645050;
	background-color: #E7F6FC;
	width: 95px;
	padding: 2px 5px;

}





form {
	margin-top: 20px;
}

#article {
	padding: 0 50px;
}

.y-axis-label, .x-axis-label {
	font-size: 11px;
	font-weight: normal;
	color: #645050;
}

.y-axis-label {
	text-align: right;
	color: #645050;
}

.x-axis-label {
	text-align: center;
	color: #645050;
}


